<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Training</h1>
		<f:form action="search" name="search" object="{search}">
			<f:form.textfield property="keyword" id="keyword" placeholder="Nom"/>
			<f:form.textfield property="domain" id="domain" placeholder="Domaine"/>
			<f:form.textfield property="location" id="location" placeholder="Location"/>
			<f:form.textfield property="degree" id="degree" placeholder="Degres"/>
			<f:form.textfield type="date" property="started_date" id="started_date" placeholder="Debut"/>
			<f:form.textfield type="date" property="finished_date" id="finished_date" placeholder="Fin"/>
			<f:form.submit value="OK" />
		</f:form>

		<f:flashMessages />

		<table  class="tx_portfolioanal" >
			<f:for each="{trainings}" as="training">

				<tr>
					<div class="card" style="width: 18rem; border: 1px solid darkgrey; padding: 2rem;">
						<div class="card-body">
							<h5>Domaine</h5>
							<p class="card-text">
								{training.domain}
							</p>
							<h5>Diplôme obtenu</h5>
							<p class="card-text">
								{training.degree}
							</p>
							<h5>Description</h5>
							<p class="card-text">
								{training.description}
							</p>
							<f:link.action class="btn btn-primary" action="show" arguments="{training : training}">Plus d'infos</f:link.action>
						</div>
					</div>
				</tr>
			</f:for>
		</table>
	</f:section>
</html>