<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>{training.title}</h1>

		<f:flashMessages />

		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5> Domaine</h5>
				<p class="card-text">
					<f:link.action action="show" arguments="{training : training}"> {training.domain}</f:link.action>
				</p>
				<h5>Date de début</h5>
				<p class="card-text">
					<f:link.action action="show" arguments="{training : training}"> {training.dateStart -> f:format.date()}</f:link.action>
				</p>
				<h5>Date de fin</h5>
				<p class="card-text">
					<f:link.action action="show" arguments="{training : training}"> {training.dateEnd -> f:format.date()}</f:link.action>
				</p>
				<h5>Diplôme obtenu</h5>
				<p class="card-text">
					<f:link.action action="show" arguments="{training : training}"> {training.degree}</f:link.action>
				</p>
				<h5>Localisation</h5>
				<p class="card-text">
					<f:link.action action="show" arguments="{training : training}"> {training.location}</f:link.action>
				</p>
				<h5>Description</h5>
				<p class="card-text">
					<f:link.action action="show" arguments="{training : training}"> {training.description}</f:link.action>
				</p>
			</div>
		</div>

		<f:link.action action="list">Back to list</f:link.action><br />
		<f:link.action action="new">New Training</f:link.action>
	</f:section>
</html>