<html data-namespace-typo3-fluid="true" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default"/>
    This Template is responsible for creating a table of domain objects.
    
    	If you modify this template, do not forget to change the overwrite settings
    	in /Configuration/ExtensionBuilder/settings.yaml:
    	  Resources:
    		Private:
    		  Templates:
    			List.html: keep
    
    	Otherwise your changes will be overwritten the next time you save the extension in the extension builder
    <f:section name="content">
        <h1>Liste des projets</h1>
        <f:flashMessages/>
        <f:widget.paginate as="paginatedProjects" configuration="{itemsPerPage: 6, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}" objects="{projects}">
            <div class="row">
                <f:for as="project" each="{paginatedProjects}">
                    <div class="col-md-4 col-sm-6">
                        <f:link.action action="show" arguments="{project : project}">
                            <div class="card m-3 p-3 bg-light">
                                <h2 class="text-center text-primary">
                                    {project.title}
                                </h2>
                                <f:if condition="{project.photo}">
                                    <f:image image="{project.photo}" maxHeight="100" treatIdAsReference="1" width="100c"/>
                                </f:if>
                                <div class="row">
                                    <div class="col-12 col-lg-6 text-center">
                                        <span>Date de début</span>
                                        <span class="badge badge-info rounded">
                                            {project.dateStart -> f:format.date()}</span>
                                    </div>
                                    <div class="col-12 col-lg-6 text-center">
                                        <span>Date de fin</span>
                                        <span class="badge badge-secondary rounded">
                                            {project.dateEnd -> f:format.date()}</span>
                                    </div>
                                </div>
                            </div>
                        </f:link.action>
                    </div>
                </f:for>
            </div>
        </f:widget.paginate>
    </f:section>
</html>